n8n-workflow-final.json
{
  "name": "PlumbLead \u2014 Speed-to-Lead MVP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plumblead-quote",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate incoming lead data\nconst body = $input.first().json.body;\n\n// Expected fields from quote tool form\nconst lead = {\n  name: body.name || '',\n  phone: body.phone || '',\n  email: body.email || '',\n  service: body.service || '',\n  urgency: body.urgency || 'routine',\n  details: body.details || '',\n  zipCode: body.zipCode || '',\n  preferredTime: body.preferredTime || 'ASAP',\n  timestamp: new Date().toISOString(),\n  source: body.source || 'website',\n  // Client config (which plumbing company)\n  clientId: body.clientId || 'default',\n  clientName: body.clientName || 'PlumbLead Demo',\n  clientPhone: body.clientPhone || '',\n  clientEmail: body.clientEmail || ''\n};\n\n// Basic validation\nconst errors = [];\nif (!lead.name) errors.push('name required');\nif (!lead.phone) errors.push('phone required');\nif (!lead.service) errors.push('service required');\n\nif (errors.length > 0) {\n  lead.valid = false;\n  lead.errors = errors;\n} else {\n  lead.valid = true;\n  // Clean phone number\n  lead.phoneClean = lead.phone.replace(/[^0-9+]/g, '');\n  if (lead.phoneClean.length === 10) lead.phoneClean = '+1' + lead.phoneClean;\n}\n\n// Price ranges per service\nconst priceRanges = {\n  'emergency-leak': { low: 150, mid: 400, high: 800, label: 'Emergency/Leak Repair' },\n  'drain-cleaning': { low: 150, mid: 275, high: 400, label: 'Drain Cleaning' },\n  'water-heater-tank': { low: 1200, mid: 2000, high: 3500, label: 'Water Heater (Tank)' },\n  'water-heater-tankless': { low: 2500, mid: 3500, high: 5000, label: 'Water Heater (Tankless)' },\n  'faucet-fixture': { low: 150, mid: 300, high: 500, label: 'Faucet/Fixture Install' },\n  'toilet': { low: 150, mid: 300, high: 600, label: 'Toilet Repair/Replace' },\n  'garbage-disposal': { low: 200, mid: 350, high: 500, label: 'Garbage Disposal' },\n  'sewer-line': { low: 1500, mid: 3500, high: 7000, label: 'Sewer Line Repair' },\n  'slab-leak': { low: 2000, mid: 3500, high: 5000, label: 'Slab Leak Repair' },\n  'repipe': { low: 4000, mid: 8000, high: 15000, label: 'Whole House Repipe' },\n  'gas-line': { low: 300, mid: 700, high: 1500, label: 'Gas Line Work' },\n  'water-softener': { low: 800, mid: 1500, high: 3000, label: 'Water Softener Install' },\n  'water-test': { low: 0, mid: 0, high: 0, label: 'Free Water Quality Report' },\n  'filtration': { low: 300, mid: 1000, high: 2000, label: 'Water Filtration / RO System' },\n  'other': { low: 150, mid: 500, high: 2000, label: 'Plumbing Service' }\n};\n\n// Attach water quality data if present\nif (body.waterReport) {\n  lead.waterReport = body.waterReport;\n}\nlead.language = body.language || 'en';\n\nconst pricing = priceRanges[lead.service] || priceRanges['other'];\nlead.priceRange = pricing;\n\nreturn [{ json: lead }];"
      },
      "id": "parse-lead",
      "name": "Parse & Validate Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validation-check",
      "name": "Valid Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, errors: $json.errors }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        480
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=You are PlumbLead AI, a friendly and professional assistant for {{ $json.clientName }}. Your job is to qualify plumbing leads and generate a personalized SMS response.\n\nLead details:\n- Name: {{ $json.name }}\n- Service needed: {{ $json.priceRange.label }}\n- Urgency: {{ $json.urgency }}\n- Details: {{ $json.details }}\n- Zip code: {{ $json.zipCode }}\n- Preferred time: {{ $json.preferredTime }}\n- Price range for this service: ${{ $json.priceRange.low }} - ${{ $json.priceRange.high }}\n\nGenerate a JSON response with these fields:\n1. \"smsToCustomer\" \u2014 A warm, professional text message (max 300 chars) that:\n   - Greets them by first name\n   - Confirms what they need\n   - Mentions the typical price range\n   - Proposes a time for a plumber to come give an exact quote\n   - Uses the company name {{ $json.clientName }}\n   - Sounds like a real dispatcher, NOT a bot\n   - If urgency is 'emergency', prioritize speed: \"We can have someone out within the hour\"\n   - If the lead includes waterReport data, mention their water hardness and what it means\n   - If language is 'es', respond in Spanish\n\n2. \"leadScore\" \u2014 Score 1-10 based on:\n   - Emergency = 9-10\n   - High-value service (water heater, sewer, repipe) + ASAP = 7-8\n   - Routine service = 5-6\n   - Vague/incomplete details = 3-4\n\n3. \"alertToPlumber\" \u2014 A brief alert message for the plumber/dispatcher (max 200 chars) with name, service, urgency, and estimated value\n\n4. \"qualification\" \u2014 One of: \"hot\", \"warm\", \"cold\"\n\nRespond ONLY with valid JSON, no markdown."
            }
          ]
        },
        "options": {
          "maxTokensToSample": 500,
          "temperature": 0.3
        }
      },
      "id": "ai-qualify",
      "name": "AI Qualify Lead",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        880,
        200
      ],
      "credentials": {
        "anthropicApi": {
          "id": "xQmXeFyyZpKXjw23",
          "name": "anthropicApi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and merge with lead data\nconst lead = $('Parse & Validate Lead').first().json;\nlet aiResponse;\n\ntry {\n  const raw = $input.first().json;\n  // Handle both formats: {message:{content:[{text}]}} and {content:[{text}]}\n  const rawText = raw.message?.content?.[0]?.text || raw.content?.[0]?.text || raw.text || JSON.stringify(raw);\n  // Try to extract JSON from the response\n  const jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\n  aiResponse = JSON.parse(jsonMatch ? jsonMatch[0] : rawText);\n} catch (e) {\n  // Fallback response if AI parsing fails\n  aiResponse = {\n    smsToCustomer: `Hi ${lead.name.split(' ')[0]}! This is ${lead.clientName}. Got your request for ${lead.priceRange.label}. Most jobs like this run $${lead.priceRange.low}-$${lead.priceRange.high}. Can we send a plumber out to give you an exact quote? Reply YES or call us!`,\n    leadScore: 5,\n    alertToPlumber: `New lead: ${lead.name}, ${lead.priceRange.label}, ${lead.urgency}. Est: $${lead.priceRange.low}-$${lead.priceRange.high}`,\n    qualification: 'warm'\n  };\n}\n\nreturn [{\n  json: {\n    ...lead,\n    ai: aiResponse\n  }\n}];"
      },
      "id": "parse-ai",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/AC1630c48f3929328cb1962b077f5945eb/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.phoneClean }}"
            },
            {
              "name": "From",
              "value": "=+16232632823"
            },
            {
              "name": "Body",
              "value": "={{ $json.ai.smsToCustomer }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sms-customer",
      "name": "SMS to Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        100
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "HjjMAln9LlPjM6Jo",
          "name": "Twilio Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.twilio.com/2010-04-01/Accounts/AC1630c48f3929328cb1962b077f5945eb/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.clientPhone }}"
            },
            {
              "name": "From",
              "value": "=+16232632823"
            },
            {
              "name": "Body",
              "value": "=\ud83d\udd14 NEW LEAD via PlumbLead\\n{{ $json.ai.alertToPlumber }}\\nScore: {{ $json.ai.leadScore }}/10 ({{ $json.ai.qualification }})\\nPhone: {{ $json.phone }}\\nAI already responded."
            }
          ]
        },
        "options": {}
      },
      "id": "sms-plumber",
      "name": "Alert Plumber",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        300
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "HjjMAln9LlPjM6Jo",
          "name": "Twilio Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Lead received! You will get a text within 60 seconds.', leadScore: $json.ai.leadScore, qualification: $json.ai.qualification, priceRange: { low: $json.priceRange.low, high: $json.priceRange.high } }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1540,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log lead to internal store (replace with DB later)\nconst lead = $input.first().json;\n\nconst logEntry = {\n  timestamp: lead.timestamp,\n  name: lead.name,\n  phone: lead.phone,\n  service: lead.priceRange.label,\n  urgency: lead.urgency,\n  priceRange: `$${lead.priceRange.low}-$${lead.priceRange.high}`,\n  leadScore: lead.ai.leadScore,\n  qualification: lead.ai.qualification,\n  clientId: lead.clientId,\n  smsResponse: lead.ai.smsToCustomer\n};\n\n// For now, just pass through \u2014 will add DB storage later\nreturn [{ json: logEntry }];"
      },
      "id": "log-lead",
      "name": "Log Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        100
      ]
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [
        [
          {
            "node": "Parse & Validate Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Lead": {
      "main": [
        [
          {
            "node": "Valid Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Lead?": {
      "main": [
        [
          {
            "node": "AI Qualify Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Qualify Lead": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "SMS to Customer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert Plumber",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "PlumbLead"
    }
  ]
}