n8n-workflow-v2.json
{"nodes": [{"parameters": {"httpMethod": "POST", "path": "plumblead-quote", "responseMode": "responseNode", "options": {"allowedOrigins": "*"}}, "id": "webhook-trigger", "name": "Lead Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [224, 304], "webhookId": "28356371-8199-4c71-892e-94512cc17064"}, {"parameters": {"jsCode": "// Parse and validate incoming lead data\nconst body = $input.first().json.body;\n\n// Expected fields from quote tool form\nconst lead = {\n  name: body.name || '',\n  phone: body.phone || '',\n  email: body.email || '',\n  service: body.service || '',\n  urgency: body.urgency || 'routine',\n  details: body.details || '',\n  zipCode: body.zipCode || '',\n  preferredTime: body.preferredTime || 'ASAP',\n  timestamp: new Date().toISOString(),\n  source: body.source || 'website',\n  // Client config (which plumbing company)\n  clientId: body.clientId || 'default',\n  clientName: body.clientName || 'PlumbLead Demo',\n  clientPhone: body.clientPhone || '',\n  clientEmail: body.clientEmail || ''\n};\n\n// Basic validation\nconst errors = [];\nif (!lead.name) errors.push('name required');\nif (!lead.phone) errors.push('phone required');\nif (!lead.service) errors.push('service required');\n\nif (errors.length > 0) {\n  lead.valid = false;\n  lead.errors = errors;\n} else {\n  lead.valid = true;\n  // Clean phone number\n  lead.phoneClean = lead.phone.replace(/[^0-9+]/g, '');\n  if (lead.phoneClean.length === 10) lead.phoneClean = '+1' + lead.phoneClean;\n}\n\n// Price ranges per service\nconst priceRanges = {\n  'emergency-leak': { low: 150, mid: 400, high: 800, label: 'Emergency/Leak Repair' },\n  'drain-cleaning': { low: 150, mid: 275, high: 400, label: 'Drain Cleaning' },\n  'water-heater-tank': { low: 1200, mid: 2000, high: 3500, label: 'Water Heater (Tank)' },\n  'water-heater-tankless': { low: 2500, mid: 3500, high: 5000, label: 'Water Heater (Tankless)' },\n  'faucet-fixture': { low: 150, mid: 300, high: 500, label: 'Faucet/Fixture Install' },\n  'toilet': { low: 150, mid: 300, high: 600, label: 'Toilet Repair/Replace' },\n  'garbage-disposal': { low: 200, mid: 350, high: 500, label: 'Garbage Disposal' },\n  'sewer-line': { low: 1500, mid: 3500, high: 7000, label: 'Sewer Line Repair' },\n  'slab-leak': { low: 2000, mid: 3500, high: 5000, label: 'Slab Leak Repair' },\n  'repipe': { low: 4000, mid: 8000, high: 15000, label: 'Whole House Repipe' },\n  'gas-line': { low: 300, mid: 700, high: 1500, label: 'Gas Line Work' },\n  'water-softener': { low: 800, mid: 1500, high: 3000, label: 'Water Softener Install' },\n  'water-test': { low: 0, mid: 0, high: 0, label: 'Free Water Quality Report' },\n  'filtration': { low: 300, mid: 1000, high: 2000, label: 'Water Filtration / RO System' },\n  'other': { low: 150, mid: 500, high: 2000, label: 'Plumbing Service' }\n};\n\n// Attach water quality data if present\nif (body.waterReport) {\n  lead.waterReport = body.waterReport;\n}\nlead.language = body.language || 'en';\n\nconst pricing = priceRanges[lead.service] || priceRanges['other'];\nlead.priceRange = pricing;\n\nreturn [{ json: lead }];"}, "id": "parse-lead", "name": "Parse & Validate Lead", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [448, 304]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [{"id": "valid-check", "leftValue": "={{ $json.valid }}", "rightValue": true, "operator": {"type": "boolean", "operation": "equals", "singleValue": true}}], "combinator": "and"}, "options": {}}, "id": "validation-check", "name": "Valid Lead?", "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [672, 304]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ success: false, errors: $json.errors }) }}", "options": {"responseCode": 400}}, "id": "error-response", "name": "Error Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [880, 480]}, {"parameters": {"modelId": {"__rl": true, "value": "claude-sonnet-4-20250514", "mode": "list"}, "messages": {"values": [{"content": "=You are PlumbLead AI, a friendly and professional assistant for {{ $json.clientName }}. Your job is to qualify plumbing leads and generate a personalized SMS response.\n\nLead details:\n- Name: {{ $json.name }}\n- Service needed: {{ $json.priceRange.label }}\n- Urgency: {{ $json.urgency }}\n- Details: {{ $json.details }}\n- Zip code: {{ $json.zipCode }}\n- Preferred time: {{ $json.preferredTime }}\n- Price range for this service: ${{ $json.priceRange.low }} - ${{ $json.priceRange.high }}\n\nGenerate a JSON response with these fields:\n1. \"smsToCustomer\" \u2014 A warm, professional text message (max 300 chars) that:\n   - Greets them by first name\n   - Confirms what they need\n   - Mentions the typical price range\n   - Proposes a time for a plumber to come give an exact quote\n   - Uses the company name {{ $json.clientName }}\n   - Sounds like a real dispatcher, NOT a bot\n   - If urgency is 'emergency', prioritize speed: \"We can have someone out within the hour\"\n   - If the lead includes waterReport data, mention their water hardness and what it means\n   - If language is 'es', respond in Spanish\n\n2. \"leadScore\" \u2014 Score 1-10 based on:\n   - Emergency = 9-10\n   - High-value service (water heater, sewer, repipe) + ASAP = 7-8\n   - Routine service = 5-6\n   - Vague/incomplete details = 3-4\n\n3. \"alertToPlumber\" \u2014 A brief alert message for the plumber/dispatcher (max 200 chars) with name, service, urgency, and estimated value\n\n4. \"qualification\" \u2014 One of: \"hot\", \"warm\", \"cold\"\n\nRespond ONLY with valid JSON, no markdown."}]}, "options": {"temperature": 0.3}}, "id": "ai-qualify", "name": "AI Qualify Lead", "type": "@n8n/n8n-nodes-langchain.anthropic", "typeVersion": 1, "position": [880, 208], "credentials": {"anthropicApi": {"id": "xQmXeFyyZpKXjw23", "name": "Anthropic account"}}}, {"parameters": {"jsCode": "// Parse AI response and merge with lead data\nconst lead = $('Parse & Validate Lead').first().json;\nlet aiResponse;\n\ntry {\n  const raw = $input.first().json;\n  let rawText = '';\n  if (raw.content && Array.isArray(raw.content)) {\n    rawText = raw.content[0].text;\n  } else if (raw.message && raw.message.content) {\n    rawText = raw.message.content[0].text;\n  } else if (raw.text) {\n    rawText = raw.text;\n  } else {\n    rawText = JSON.stringify(raw);\n  }\n  const jsonMatch = rawText.match(/\\{[\\s\\S]*\\}/);\n  aiResponse = JSON.parse(jsonMatch ? jsonMatch[0] : rawText);\n} catch (e) {\n  aiResponse = {\n    smsToCustomer: 'Hi ' + lead.name.split(' ')[0] + '! This is ' + lead.clientName + '. Got your request for ' + lead.priceRange.label + '. Most jobs run $' + lead.priceRange.low + '-$' + lead.priceRange.high + '. Can we send a plumber out? Reply YES or call us!',\n    leadScore: 5,\n    alertToPlumber: 'New lead: ' + lead.name + ', ' + lead.priceRange.label + ', ' + lead.urgency,\n    qualification: 'warm'\n  };\n}\n\nreturn [{\n  json: {\n    ...lead,\n    ai: aiResponse\n  }\n}];"}, "id": "parse-ai", "name": "Parse AI Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1168, 208]}, {"parameters": {"method": "POST", "url": "=https://api.twilio.com/2010-04-01/Accounts/AC1630c48f3929328cb1962b077f5945eb/Messages.json", "authentication": "genericCredentialType", "genericAuthType": "httpBasicAuth", "sendBody": true, "contentType": "form-urlencoded", "bodyParameters": {"parameters": [{"name": "To", "value": "={{ $json.phoneClean }}"}, {"name": "From", "value": "=+16232632823"}, {"name": "Body", "value": "={{ $json.ai.smsToCustomer }}"}]}, "options": {}}, "id": "sms-customer", "name": "SMS to Customer", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1328, 0], "credentials": {"httpBasicAuth": {"id": "HjjMAln9LlPjM6Jo", "name": "Twilio Basic Auth"}}}, {"parameters": {"method": "POST", "url": "=https://api.twilio.com/2010-04-01/Accounts/AC1630c48f3929328cb1962b077f5945eb/Messages.json", "authentication": "genericCredentialType", "genericAuthType": "httpBasicAuth", "sendBody": true, "contentType": "form-urlencoded", "bodyParameters": {"parameters": [{"name": "To", "value": "={{ $json.clientPhone }}"}, {"name": "From", "value": "=+16232632823"}, {"name": "Body", "value": "=\ud83d\udd14 NEW LEAD via PlumbLead\\n{{ $json.ai.alertToPlumber }}\\nScore: {{ $json.ai.leadScore }}/10 ({{ $json.ai.qualification }})\\nPhone: {{ $json.phone }}\\nAI already responded."}]}, "options": {}}, "id": "sms-plumber", "name": "Alert Plumber", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1344, 400], "credentials": {"httpBasicAuth": {"id": "HjjMAln9LlPjM6Jo", "name": "Twilio Basic Auth"}}}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ success: true, message: 'Lead received! You will get a text within 60 seconds.', leadScore: $json.ai.leadScore, qualification: $json.ai.qualification, priceRange: { low: $json.priceRange.low, high: $json.priceRange.high } }) }}", "options": {"responseCode": 200}}, "id": "success-response", "name": "Success Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1552, 304]}, {"parameters": {"jsCode": "// Log lead to internal store (replace with DB later)\nconst lead = $input.first().json;\n\nconst logEntry = {\n  timestamp: lead.timestamp,\n  name: lead.name,\n  phone: lead.phone,\n  service: lead.priceRange.label,\n  urgency: lead.urgency,\n  priceRange: `$${lead.priceRange.low}-$${lead.priceRange.high}`,\n  leadScore: lead.ai.leadScore,\n  qualification: lead.ai.qualification,\n  clientId: lead.clientId,\n  smsResponse: lead.ai.smsToCustomer\n};\n\n// For now, just pass through \u2014 will add DB storage later\nreturn [{ json: logEntry }];"}, "id": "log-lead", "name": "Log Lead", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1552, 112]}, {"parameters": {"jsCode": "\nconst input = $input.first().json;\n\nconst serviceMap = {\n  'emergency-leak': 'Emergency / Leak',\n  'drain-cleaning': 'Drain Cleaning',\n  'water-heater-tank': 'Water Heater (Tank)',\n  'water-heater-tankless': 'Water Heater (Tankless)',\n  'toilet': 'Toilet',\n  'faucet-fixture': 'Faucet / Fixture',\n  'garbage-disposal': 'Garbage Disposal',\n  'sewer-line': 'Sewer Line',\n  'slab-leak': 'Slab Leak',\n  'gas-line': 'Gas Line',\n  'repipe': 'Repipe',\n  'water-softener': 'Water Softener',\n  'water-test': 'Water Test',\n  'filtration': 'Filtration / RO'\n};\n\nconst urgencyMap = {\n  'emergency': 'Emergency',\n  'soon': 'Soon',\n  'routine': 'Routine'\n};\n\nconst notionPayload = {\n  parent: { database_id: \"32f12ff9-690a-816d-b4d7-c2bb569cd6b3\" },\n  properties: {\n    \"Name\": { title: [{ text: { content: input.name || \"Unknown\" } }] },\n    \"Phone\": { phone_number: input.phone || null },\n    \"Email\": { email: input.email || null },\n    \"Service\": { select: { name: serviceMap[input.service] || input.service || \"Other\" } },\n    \"Urgency\": { select: { name: urgencyMap[input.urgency] || \"Routine\" } },\n    \"Zip Code\": { rich_text: [{ text: { content: input.zipCode || \"\" } }] },\n    \"Preferred Time\": { select: { name: input.preferredTime || \"ASAP\" } },\n    \"Status\": { select: { name: \"New\" } },\n    \"Client\": { rich_text: [{ text: { content: input.clientId || \"demo\" } }] },\n    \"Source\": { select: { name: input.source || \"direct\" } },\n    \"Campaign\": { rich_text: [{ text: { content: input.campaign || \"\" } }] },\n    \"Details\": { rich_text: [{ text: { content: (input.details || \"\").substring(0, 2000) } }] },\n    \"Water Hardness\": { number: input.waterHardness || 0 },\n    \"Language\": { select: { name: input.lang || \"en\" } },\n    \"Date\": { date: { start: new Date().toISOString() } }\n  }\n};\n\n// Remove null email to avoid Notion error\nif (!input.email) {\n  delete notionPayload.properties[\"Email\"];\n}\n\nreturn [{ json: { ...input, notionPayload } }];\n"}, "name": "Build Notion Payload", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1552, -80]}, {"parameters": {"method": "POST", "url": "https://api.notion.com/v1/pages", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "Authorization", "value": "Bearer ntn_N50998418029IYAoujoqNdSuBENs6ttqB3iiGoPDmPb142"}, {"name": "Notion-Version", "value": "2022-06-28"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.notionPayload) }}", "options": {"response": {"response": {"neverError": true}}}}, "name": "Save to Notion", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1776, -80]}], "connections": {"Lead Webhook": {"main": [[{"node": "Parse & Validate Lead", "type": "main", "index": 0}]]}, "Parse & Validate Lead": {"main": [[{"node": "Valid Lead?", "type": "main", "index": 0}]]}, "Valid Lead?": {"main": [[{"node": "AI Qualify Lead", "type": "main", "index": 0}], [{"node": "Error Response", "type": "main", "index": 0}]]}, "AI Qualify Lead": {"main": [[{"node": "Parse AI Response", "type": "main", "index": 0}]]}, "Parse AI Response": {"main": [[{"node": "SMS to Customer", "type": "main", "index": 0}, {"node": "Alert Plumber", "type": "main", "index": 0}, {"node": "Log Lead", "type": "main", "index": 0}, {"node": "Success Response", "type": "main", "index": 0}, {"node": "Build Notion Payload", "type": "main", "index": 0}]]}, "Build Notion Payload": {"main": [[{"node": "Save to Notion", "type": "main", "index": 0}]]}}, "name": "PlumbLead Quote Workflow", "settings": {"executionOrder": "v1"}}